---
import { SITE_TITLE } from "../consts";
import SocialLinks from "./SocialLinks.astro";

const year = new Date().getFullYear();
---

<footer class="mx-auto flex w-[1120px] max-w-[calc(100%-2rem)] flex-wrap justify-between gap-4 border-t border-white/10 py-12 pb-20 text-zinc-400">
	<p class="m-0">&copy; {year} {SITE_TITLE}.</p>
	<SocialLinks />
</footer>
