---
import { SITE_TITLE } from '../consts';
import SocialLinks from './SocialLinks.astro';

const year = new Date().getFullYear();
---

<footer class="site-footer">
	<p>&copy; {year} {SITE_TITLE}.</p>
	<SocialLinks />
</footer>
