---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const { href, class: className, ...props } = Astro.props;
const pathname = Astro.url.pathname.replace(import.meta.env.BASE_URL, "");
const subpath = pathname.match(/[^\/]+/g);
const isActive = href === pathname || href === "/" + (subpath?.[0] || "");
---

<a
	href={href}
	class:list={["inline-block no-underline transition-colors hover:text-[#facc15]", isActive && "font-bold text-[#facc15] underline decoration-[#facc15]/70 underline-offset-4", className]}
	{...props}>
	<slot />
</a>
